.home-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.counts {
    min-height: 20px;
    margin-top: 30px;
    position: relative;

    &:hover {
        .balloon {
            opacity: 1;
        }
    }
}

.balloon {
    opacity: 0;
    width: 240px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 100%);
    transition: opacity 200ms;
}
