<div class="home-screen" data-testid="home-screen">
    <div>
        <app-clock></app-clock>
    </div>
    <div>
        <app-controls></app-controls>
    </div>
    <div class="counts">
        <app-interval-count></app-interval-count>
        <div class="balloon">
            <app-speech-balloon
                [message]="
                    (intervalsCompleted$ | async) + ' interval(s) completed'
                "
            ></app-speech-balloon>
        </div>
    </div>
    <div class="delete-button">
        <app-delete-data-button></app-delete-data-button>
    </div>
</div>
