@use "../../../../styles/variables";

.button {
    background-color: transparent;
    border: 1px solid variables.$white;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    cursor: pointer;
}
