<!--
    Wrap play state in object b/c it can return 0 which causes ngIf
    to not render elements b/c it is falsey.
-->
<ng-container
    *ngIf="{
        playState: playState$ | async
    } as data"
>
    <div
        class="buttons"
        [ngStyle]="{
            width: 40 * (data.playState === playStates.Stopped ? 2 : 3) + 'px'
        }"
    >
        <div
            class="button left-button"
            [class.move-left]="data.playState !== playStates.Stopped"
        >
            <app-play-pause-button></app-play-pause-button>
        </div>
        <div
            class="button"
            @enterTrigger
            *ngIf="data.playState !== playStates.Stopped"
            data-testid="restart-btn-cont"
        >
            <app-restart-button></app-restart-button>
        </div>
        <div
            class="button right-button"
            [class.move-right]="data.playState !== playStates.Stopped"
        >
            <app-skip-button></app-skip-button>
        </div>
    </div>
</ng-container>
